/kaggle/
/kaggleData.mat
/*.asv
/kagglePrediction.csv
*.aux
*.bbl
*.blg
*.log
*.pdf
/*.synctex.gz
/train/
/allGTimages.mat
/largePatchSet.mat
/gtImages.mat
/largePatchSet2.mat
/java/MinCostMaxFlowImp/nbproject/private/
/java/MinCostMaxFlowImp/build/
/matricesToCompute/
/emdResults.txt
/emdResults/
/largePatchSet3.mat
/java/GeneratePatches/nbproject/private/
/java/GeneratePatches/build/
/java/GeneratePatches/dist/
/largePatchSet4.mat
/@kde/
/java/MinCostMaxFlowImp/dist/
/java/QuadProgImp/nbproject/private/
/java/QuadProgImp/build/
/java/QuadProgImp/target/
/java/QPSolving/nbproject/private/
/java/JOptimizer/target/
/currentWorkspace.mat
/currentWorkspace2.mat
/qpTestResults.mat
/__MACOSX/
/results6-27_1.mat
/*.avi
/pcaPatchSet_9-15.mat
/pcaPatchSet9-16.mat
/pcaPatchSet_9-17.mat
/eucPatchSet_9-23.mat
