/kaggle/
/kaggleData.mat
/*.asv
/kagglePrediction.csv
*.aux
*.bbl
*.blg
*.log
*.pdf
/*.synctex.gz
/train/
/allGTimages.mat
/largePatchSet.mat
/gtImages.mat
/largePatchSet2.mat
/java/MinCostMaxFlowImp/nbproject/private/
/java/MinCostMaxFlowImp/build/
/matricesToCompute/
/emdResults.txt
/emdResults/
